<div class="logo">
    <span class="logo__lside">Expert</span>
    <span class="logo__rside">SV</span>
    <br>
    <span class="logo__subtext">consulting & education</span>
</div>
<style>
    .logo {
        width: fit-content;
        padding: 5px;
    }
    .logo__lside {
        font-size: 1.6rem;
        font-family: "Prompt", sans-serif;
    }
    .logo__rside {
        background-image: linear-gradient(0deg, var(--accent), var(--white) 60%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: 1.4rem;
        font-family: "Pacifico", cursive;
        margin-left: -4px;
    }
    .logo__subtext {
        position: relative;
        bottom: 12px;
        font-size: 1rem;
        font-family: "Dosis", sans-serif;
    }
</style>
